* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #444;
    font-family: 'poppins', sans-serif;
}

i {
    font-size: 30px;
    padding-bottom: 0;
}

i:hover {
    color: #6a46aa;
}

a {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #6a46aa;
    text-decoration: none;
}

.spacer {
    height: 100px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #6a46aa;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

h1 {
    font-family: gilroyextrabold;
    text-align: center;
    font-size: 3rem;
}

/************************** Nav Bar *******************************/

.navbar {
    display: flex;
    position: fixed;
    /* overflow: hidden; */
    top: 0;
    z-index: 2;
    width: 100%;
    height: 65px;
    box-shadow: 0px 10px 10px rgba(50, 50, 50, 0.1);
    align-items: center;
}

.navbar a {
    /* margin: auto; */
    float: left;
    padding-top: 10px;
    align-self: center;
    padding-right: 20px;
}

.nav-center a{ /* padding for logo */
    padding: 20px;
}
.navbar p{
    font-size: 18px;
    font-weight: 500;
}
.navbar p:hover{
    color: #6a46aa;
}

.hidden {
    display: none;
    text-align: center;
}

.hidden h5{
    padding-top: 10px;
    padding-bottom: 10px;
    /* text-decoration: underline; */
}

.nav-left{
    display: flex;
    flex: 40%;
}
.nav-center{
    flex: 20%;
    display: flex;
    justify-content: center;
}
.nav-right{
    flex: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height:100%
}

.nav-btn{
    /* flex: 15%; */
    display: flex;
    justify-content: flex-end;
}

.icon{
    color: #444;
    height: 30px;
    display: none;
}

/**************************** Intro *********************************/

.intro {
    top: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.95);
}

.intro img {
    height: 100%;
    width: 100%;
    padding: 5px;
    object-fit: contain;
}

/* .fog{
    z-index: 5;
    box-shadow: 0 50px red;
} */

.intro h2 {
    font-family: 'Pacifico', sans-serif;
    color: #FFA62A;
    text-align: center;
    position: absolute;
    font-size: 10vw;
    top: 50%;
    transform: translate(0, -50%);
    left: 63%;
}

.intro h4 {
    height: 8vh;
    position: absolute;
    size: 1;
    left: 50%;
    transform: translate(-50%);
    animation: move-arrow 1.5s linear infinite;
}

.down-arrow {
    opacity: 60%;
}

/**************************** Bio *********************************/

.bio {
    display: grid;
    grid-template-columns: 50% 50%;
}

.bio img {
    object-fit: cover;
    padding: 10%;
    width: 100%;
}

.bioInfo {
    padding-top: 15%;
}

.bio h1 {
    text-align: center;
    font-size: 6vw;
    /*Gradient Text Code*/
    background-color: #444;
    background-image: linear-gradient(45deg, rgb(255, 175, 0), rgb(175, 0, 255));
    background-size: 100%;
    background-repeat: repeat;
    clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.bio h3 {
    text-align: center;
    padding: none;
    font-size: 2vw;
    /* opacity: 70%; */
}

.bio i {
    color: #6a46aa;
}

/************************** ABOUT *************************************/

.about {
    padding: 5em 0 1em 0;
    background-color: #8659D4;
}

.about h1 {
    color: white;
    margin-bottom: 1em;
}

.about p {
    max-width: 1000px;
    font-size: 1.1rem;
    line-height: 2em;
    color: white;
    margin: 0 auto;
}

form {
    margin: 5em auto;
    width: 90%;
    max-width: 750px;
    padding: 2em;
    text-align: center;
    background: rgba( 255, 255, 255, 0.85);
    box-shadow: 0 8px 32px 0;
    border-radius: 20px;
}

form h2 {
    font-size: 2.5rem;
    padding-bottom: 1em;
}

label{
    font-weight: 500;
    float:left;
}

input, textarea {
    width: 90%;
    margin: 1em 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    border: none;
    padding: 10px;
}

textarea {
    height: 10em;
}

.spacer2 {
    background-color: #8659D4;
    background-image: url(./src/curve.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 10vw;
    width: 100vw;
}

/************************** Other *************************************/

.headder h1 {
    font-size: 5w;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

/************************** PDF *************************************/

.info_container {
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-gap: 15%;
    grid-template-columns: fit-content(300px) fit-content(300px) fit-content(300px);
    justify-content: center;
}

.info_container p {
    text-align: left;
}

.headder {
    font-size: 1.2em;
    font-weight: bold;
}

.btn-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    outline: none;
    border: none;
    background-color: #444;
    color: white;
    font-size: 1.2em;
    height: 40px
}

.btn:hover {
    background-color: #444;
    background-image: linear-gradient(45deg, rgb(255, 175, 0), rgb(175, 0, 255));
    background-size: 110%;
    background-repeat: repeat;
    color: white;
}

embed {
    width: 90%;
    height: 700px;
    text-align: center;
    margin: 5%;
    border: solid;
}

/************************** Gallery *************************************/

.ph_gallery {
    margin-left: 5vw;
    margin-right: 5vw;
    columns: 3;
}

.ph_gallery .image {
    overflow: hidden;
}

.ph_gallery img {
    padding: 10px;
    width: 100%;
    filter: brightness(100%)
}

.ph_gallery img:hover {
    filter: brightness(80%);
    /* transform: scale(1.3); */
}

/************************** Responsive Layout *************************************/

@media screen and (max-width: 750px) {
    h1 {
        font-size: 6vw;
    }
    /* .navbar a:not(:first-child) {
        display: none;
    }
    .navbar a.icon {
        float: left;
        display: block;
    } */

    .bio {
        display: block;
    }
    .bioInfo {
        padding-top: 0%;
        /* padding-left: 20px; */
    }
    .bio h1 {
        font-size: 10vw;
    }
    .bio h3 {
        font-size: 4vw;
    }
    .stroke {
        padding: 0;
        display: none;
    }
    .stroke-made {
        padding: 0;
        display: none;
    }
    .stroke-im {
        padding: 0;
        display: none;
    }
    .ph_gallery {
        margin-top: 100px;
        columns: 1;
    }
    .about p {
        padding: 0;
    }
}

@media screen and (max-width: 750px) {
    .navbar.responsive {
        grid-template-columns: auto;
        grid-template-rows: auto auto 0 auto auto;
        background-color: rgba(255, 255, 255, 0.95);
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
    /* .intro.responsive {
        display: none;
    } */
    .nav-right-links{
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .nav-left{
        display: none;
    }
    .nav-left-active{
        position: absolute;
        top: 100%;
        left:0%;
        width: 400px;
        height: 100vh;
        text-align: left;
        z-index: 4;
        background-color: rgba(255, 255, 255, 0.95);
        display: flex;
        flex-direction: column;
        margin: 0
    }
    .navbar a{
        padding-top: 0
    }
    .nav-right-links p{
        display: none;
    }
    .icon{
        display: block;
    }
    .hidden{
        display: inline;
    }
}