*{
    color: #333;
}
a{
    color: #333;
    text-decoration: none;
}
a:hover{
    color: #6a46aa;
    text-decoration: none;
}

.navbar{
    top:0;
    z-index: 2;
    width: 100%;
    position: fixed;
    opacity: 0;
}

.navbar a{
    font-family: 'Rubik', sans-serif;
    font-size: 3vh;
    padding: 10px;
}

.intro{
    top:0;
    z-index: 1;
    height: 90vh;
    width: 100%;
    background-color: white;
}

.intro img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.intro h2{
    font-family: 'Pacifico', sans-serif;
    color: #FFA62A;
    text-align: center;
    font-size: 10vw;
    position: absolute;
    top: 50%;
    left: 65%
}

.headder h1{
    font-family: 'Rubik', sans-serif;
    padding-top: 15px;
    text-align: center;
    font-size: 80px;
    padding-bottom: 500px;
    opacity: 90%;
}