.intro{
    height: 85vh;
}
.intro img{
    align-self: center;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.headder h1{
    padding-top: 5px;
    text-align: center;
    font-size: 80px;
    padding-bottom: 500px;
}