
/*********** Selection Chips ***********/

.chip-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    margin-left: 1em;
    margin-right: 1em;
}

.chip {
    /* Center the content */
    align-items: center;
    display: inline-flex;
    justify-content: center;
    /* color: white; */
    background-color: var(--grey-1);
    border-radius: 100px;
    padding: 0.25rem 0.5rem;
    transition: 0.4s ease;
}

.chip:hover {
    background-color: var(--grey-2);
}

input[type="checkbox"]:focus+label {
    background-color: var(--grey-2);
}

input[type="checkbox"], input[type="radio"] {
    opacity: 0;
}

input[type="checkbox"]:checked+label {
    background-color: var(--purple);
    color: white;
}

input[type="checkbox"]:checked+label::before {
    content: '✕';
    padding-right: 5px;
}

input[type="checkbox"]+label::before {
    content: '+';
    padding-right: 6px;
}


/************ Work Grid ************/

.my-works, .my-works-featured {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/************ Work Cell Tiles ************/

.work-cell {
    width: 30%;
    height: auto;
    margin: 1.5em;
    background-color: var(--purple);
    border-radius: 10px;
    padding: 1em;
    transition: 0.4s ease;
}

.work-cell-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.work-cell:hover {
    background-color: var(--dark-purple);
}

.work-cell img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 3px 5px 0;
    background-color: white;
}

.work-cell p {
    color: white;
    margin-top: 0.75em;
    margin-bottom: -0.25em;
}

.full-cell {
    display: flex;
}

.work-cell-inner span {
    display: none;
}

/*********** RESPONSIVE ***********/

@media screen and (max-width: 1100px) {
    .work-cell {
        width: 40%;
    }
}

@media screen and (max-width: 750px) {
    .work-cell {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
